@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */
h1 {
  color: #222;
}
h2 {
  color: #222;
}
h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  position: sticky;
  inset: 0;
  z-index: 100;
}
.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar-list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar-list a {
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s;
  border-bottom: 2px solid transparent;
}
.navbar-list a:hover,
.navbar-list a.active {
  color: #088178;
  border-bottom: 2px solid #088178;
}
.navbar i {
  font-size: 24px;
}
.navbar i:hover {
  color: #088178;
}
.navbar .menu {
  display: none;
  cursor: pointer;
}
.navbar .menu:hover {
  color: #088178;
}
@media (max-width: 650px) {
  .topbar {
    padding: 10px 5%;
  }
  .navbar-list {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 70%;
    height: 100vh;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    box-shadow: 0 5px 15px rgb(111, 99, 99);
    transform: translateX(-100%);
    transition: .5s;
  }
  .navbar-list.active {
    display: flex;
    transform: translateX(0);
  }
  .navbar .menu {
    display: block;
  }
}
/* Header */
.header {
  display: flex;
  align-items: center;
  height: 90vh;
  background-image: url("img/hero4.png");
  background-size: cover;
  background-position: center;
}
.header-text {
  padding-left: 10%;
}
.header-text h4 {
  padding-bottom: 15px;
}
.header-text h1 {
  color: #088178;
  font-size: 50px;
  margin-top: 10px;
}
.header-text h2 {
  font-size: 50px;
}
.header-text a {
  background-image: url("img/button.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 14px 80px 14px 65px;
  font-size: 15px;
  font-weight: 700;
  display: inline-block;
  color: #088178;
}
@media (max-width: 650px) {
  .header-text {
    padding-left: 5%;
  }
  .header-text h1 {
    color: #088178;
    font-size: 40px;
    margin-top: 10px;
  }
  .header-text h2 {
    font-size: 40px;
  }
}

/* Feature */
.feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 50px 10%;
}
.feature-item {
  text-align: center;
  padding: 15px;
  box-shadow: 0 0 10px #9afff8;
  border-radius: 10px;
  transition: .3s;
}
.feature-item img {
  width: 100%;
  margin: auto;
  display: block;
  margin-bottom: 5px;
}
.feature-item:hover {
  background-color: #088178;
  box-shadow: 0 0 10px #00433e;
  color: white;
}
.feature-item h3 {
  margin-top: 5px;
  font-size: 14px;
  background-color: lime;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 5px;
  font-weight: 500;
}
@media (max-width: 480px) {
  .feature {
    gap: 30px;
    margin: 30px 5%;
  }
  .feature-item {
    width: 100%;
  }
}